p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.primary {
    color: #5D12D2;
}

.secondary {
    color: #FFD700;
}

.navbar {
    background-color: white;
    color: #5D12D2 !important;
    min-height: 70px;
    box-shadow: 0px 2px 5px 0px rgba(93,18,210,0.34);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(93,18,210,0.34);
    -moz-box-shadow: 0px 2px 5px 0px rgba(93,18,210,0.34);
}

.navbar .nav-link {
    color: #5D12D2 !important;
    transition: 0.3s;
    font-weight: 600;
    font-size: 18px;
}

.navbar .nav-link:hover {
    transform: scale(115%);
    cursor: pointer;
}

.navbar .nav-link:active {
    transform: scale(100%);
}

.navbar .btn {
    border: 2px solid #5D12D2;
    border-radius: 100px;
    padding: 10px 40px;
    color: #5D12D2;
    font-weight: 600;
    transition: 0.3s !important;
}

.navbar .btn:hover {
    color: white;
    background-color: #5D12D2;
    transform: scale(110%);
}

.navbar .btn:active {
    transform: scale(100%);
}

.hero {
    height: calc(100vh - 70px);
    position: relative;
}

.hero .hero-background {
    position: absolute;
}

.hero .hero-content {
    color: white;
    position: absolute;
    padding: 40px;
}

.hero .cta {
    background-color: #FFD700;
    transition: 0.3s;
}

.hero .cta:hover {
    color: black;
    background-color: #ffee00;
    transform: scale(120%);
}

.about img {
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.26);
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    .about img {
        width: 100%;
    }

    .about p {
        width: 100% !important;
    }
}

.counter {
    position: relative;
}

.counter .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
    z-index: 1;
    background-image: url("https://img.freepik.com/free-photo/silhouette-confident-businesspeople_1098-1768.jpg?t=st=1737963313~exp=1737966913~hmac=2c9a8d143b0bb99fc7f8876c9f3f2df7fede9a8f60f2cfb41b596629251cb636&w=1060");
    background-attachment: fixed;
    background-size: cover;
}

.counter .content {
    position: relative;
    z-index: 2;
}